language: node_js

services:
    - sqlite3

before_install:
    sqlite3 db/test.sqlite < db/migrate.sql

node_js:
    - "node"
    - "10"
    - "8"
    - "6"

sudo: false

git:
    submodules: false

before_script:
    - npm install

script:
    - npm test

after_success:
    - npm run report-coveralls
    - npm run report-codecov
